<ion-content [fullscreen]="true">
  <div class="min-h-full bg-main-background p-5 pt-12 font-lexend text-white">

    <div class="bg-workout-background rounded-general p-4 pb-10">

      @if (viewState === 1)
      {
        <!-- Header -->
        <div class="flex justify-between items-center px-1.5 pt-0.2 pb-7">
          <div class="text-[28px] text-white font-lexend">
            WORKOUTS
          </div>

          <ion-button (click)="goBack()" class="return-btn">
            <ion-icon name="return-up-back-outline"></ion-icon>
          </ion-button>
        </div>

        <!-- Lista de Workouts -->
        <div class="flex flex-col gap-5">
          @for (wk of workoutService.workouts; track wk.id) 
          {
            <ion-button (click)="goToLevel2(wk)" class="workout-card-template font-lexend">
              <span class="text-base tracking-wide uppercase">
                {{ wk.name }}
                <ion-icon name="pencil-outline" class="absolute pl-2 text-base pt-1"></ion-icon>
              </span>

            </ion-button>
          }
          <div class="bg-musclegroup-card rounded-general p-2 py-3 flex gap-3 items-center shadow-sm/30">
            <input
              [(ngModel)]="newWorkoutName"
              placeholder="WORKOUT NAME"
              class="bg-return-button rounded-general text-white uppercase text-sm tracking-wide outline-none w-full px-4 py-2 font-lexend placeholder:text-white/30"
            />

            <ion-button (click)="addWorkout()" class="font-lexend input-add-btn">
              <ion-icon name="add" class=""></ion-icon>
            </ion-button>

          </div>
        </div>
      }





      @if (viewState === 2 && selectedWorkout)
      {
        <!-- Header -->
        <div class="flex justify-between items-center px-1.5 pt-0.2 pb-7">
          <div class="text-[28px] text-white font-lexend">
            {{ selectedWorkout.name }}
          </div>

          <ion-button (click)="goBack()" class="return-btn">
            <ion-icon name="return-up-back-outline"></ion-icon>
          </ion-button>
        </div>

        <!-- Lista Grupe de Mușchi -->
        <div class="flex flex-col gap-5">
          @for (mg of selectedWorkout.muscleGroups; track mg.id) 
          {
            <ion-button (click)="goToLevel3(mg)" class="musclegroup-card-template font-lexend">
              <span class="text-base tracking-wide uppercase">
                {{ mg.name }}
                <ion-icon name="pencil-outline" class="absolute pl-2 text-base pt-1"></ion-icon>
              </span>
            </ion-button>
          }
        <div class="bg-musclegroup-card rounded-general p-2 py-3 flex gap-3 items-center shadow-sm/30">

          <div class="bg-return-button rounded-general flex-1 flex items-stretch">
            <ion-select 
              [(ngModel)]="selectedNewGroup" 
              interface="popover"
              fill="none"
              [interfaceOptions]="{ cssClass: 'custom-template-popover' }"
              placeholder="MUSCLE GROUP"
              class="w-full bg-return-button text-white uppercase text-sm tracking-wide outline-none px-4 font-lexend rounded-general">

              @for (group of availableGroups; track group) {
                <ion-select-option [value]="group">{{ group }}</ion-select-option>
              }
            </ion-select>
          </div>

          <ion-button (click)="addGroup()" class="font-lexend input-add-btn shrink-0"> 
            <ion-icon name="add"></ion-icon>
          </ion-button>

        </div>
        <ion-button (click)="deleteWorkout()" class="workout-delete-template font-lexend">
          DELETE WORKOUT
        </ion-button>

      </div>
      }

      @if (viewState === 3 && selectedMuscleGroup)
      {
        <!-- Header -->
        <div class="flex justify-between items-center px-1.5 pt-0.2 pb-7">
          <div class="text-[28px] text-white font-lexend">
            {{ selectedWorkout?.name }}
          </div>
          <ion-button (click)="goToLevel1()" class="return-btn">
            <ion-icon name="return-up-back-outline"></ion-icon>
          </ion-button>
        </div>

        <!-- Muscle Group -->
        <div class="bg-templates-musclegroup-card rounded-general p-2 px-3 font-lexend">
          <div class="flex justify-between items-center px-1 pt-2.5 pb-5">
            <div class="text-[20px] text-white font-lexend">
              {{ selectedMuscleGroup.name }}
            </div>
            <ion-button (click)="goBack()" class="return-btn">
              <ion-icon name="return-up-back-outline"></ion-icon>
            </ion-button>
          </div>

       

        <!-- Exercises -->
        <div class="flex flex-col gap-3">
          @for (ex of selectedMuscleGroup.exercises; track ex.id) {
            <div class="bg-exercise-card rounded-general flex items-center pl-5 overflow-hidden h-14 shadow-sm/30">
              <span class="text-sm tracking-wide uppercase flex-1">
                {{ ex.name }}
              </span>
              <ion-button (click)="deleteExercise(ex.id)"class="exercise-delete-template">
                <ion-icon name="close-outline" class="text-2xl"></ion-icon>
              </ion-button>
            </div>
          }
        

        <!-- Add Exercise -->
<div class="bg-exercise-card rounded-general p-2 py-2 flex gap-3 items-center shadow-sm/30">

  <div class="bg-set-input-background rounded-general flex-1 flex items-stretch">
    <ion-select 
      [(ngModel)]="selectedNewExercise" 
      interface="popover"
      fill="none"
      [interfaceOptions]="{ cssClass: 'custom-template-popover' }"
      placeholder="EXERCISE"
      class="w-full bg-set-input-background text-white uppercase text-sm tracking-wide outline-none px-4 font-lexend rounded-general">

      @for (ex of currentAvailableExercises; track ex) {
        <ion-select-option [value]="ex">{{ ex }}</ion-select-option>
      }
    </ion-select>
  </div>

  <ion-button (click)="addExercise()" class="font-lexend input-add-btn shrink-0"> 
    <ion-icon name="add"></ion-icon>
  </ion-button>

</div>

        <!-- Delete Group -->
          <ion-button (click)="deleteGroup()" class="workout-delete-template font-lexend">
            DELETE GROUP
          </ion-button>
        </div>
        </div>
      }

    </div>
  </div>
</ion-content>