<ion-tabs>

  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" >
  <div class="flex font-lexend justify-center items-center gap-3 w-auto h-auto" >
      <ion-tab-button tab="statistics" class="bg-hotbar-button p-3 rounded-general hover:bg-hotbar-button-pressed">
        <ion-label class="hover:text-white">STATISTICS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="workout" class="bg-hotbar-button p-3 rounded-general hover:bg-hotbar-button-pressed">
        <ion-label class="hover:text-white">WORKOUT</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings" class="bg-hotbar-button p-3 rounded-general hover:bg-hotbar-button-pressed">
        <ion-label class="hover:text-white">SETTINGS</ion-label>
      </ion-tab-button>
  </div>

  </ion-tab-bar>

</ion-tabs>
