/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "tailwindcss";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
  font-family: 'Lexend Giga';
  src: url('assets/fonts/LexendGiga-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@theme 
{

    --color-hotbar-background:#414141;
    --color-hotbar-button:#2F2F2F;
    --color-hotbar-selected:#333333;
    --color-hotbar-button-pressed:#464646;
    --color-statusbar-background:#191919;

    --font-lexend: "Lexend Giga", sans-serif;

    --color-main-background: #252525;
    --color-workout-background: #363636;
    --color-musclegroup-card: #3F3F3F;
    --color-musclegroup-card-pressed: #636363;

    --color-musclegroup-complete: #4C8145;
    --color-workout-finish: #4C8145;
    --color-workout-finish-pressed: #64985D;
    --color-workout-delete: #7d3b3b;
    --color-return-button: #313131;
    --color-return-button-pressed: #525252;

    --color-musclegroup-background: #3A3A3A;
    --color-exercise-card: #535353;
    --color-exercise-card-pressed: #8F8F8F;

    --color-exercise-background: #535353;
    --color-set-card: #6C6C6C;
    --color-set-card-pressed: #979797;
    --color-set-complete-button: #5D7D59;
    --color-set-complete-button-pressed: #99B595;
    --color-set-input-background: #353535;

    --radius-general: 10px;

    --color-templates-background: #363636;
    --color-templates-card: #3F3F3F;
    --color-templates-card-pressed: #636363;
    --color-templates-musclegroup-card: #434343;

}


ion-content {
  pointer-events: auto;
}

ion-router-outlet {
  pointer-events: none !important;
}

ion-router-outlet > * {
  pointer-events: auto !important;
}



ion-tab-bar.custom-tab-bar
{
  --background: var(--color-hotbar-background); 
  --border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  padding: 0.5rem 0.45rem;
}

ion-tab-button {
  --background: transparent;
  --background-focused: transparent;
  --background-focused-opacity: 0;
  --color-selected: white;
  font-size: 0.78rem;

  font-family: inherit;
  
  &::part(native) {
    background-color: var(--color-hotbar-button);
    border-radius: var(--radius-general);
    padding: 0.75rem;
    transition: var(--color-hotbar-button-pressed) 200ms ease;
  }

  &.tab-selected::part(native) {
    background-color: var(--color-hotbar-selected);
    color: white;
  }

  &::part(native):hover {
    background-color: var(--color-hotbar-selected);
  }
}


.settings-btn 
{
  --background: var(--color-set-card);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;     
  --padding-bottom: 20px; 
  --padding-start: 24px;   
  --padding-end: 24px;     
}

.return-btn 
{
  --background: var(--color-return-button);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 14px;     
  --padding-bottom: 14px;   
  --padding-start: 14px;   
  --padding-end: 14px;    
}

.input-add-btn 
{
  --background: var(--color-return-button);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 11px;      
  --padding-bottom: 11px;   
  --padding-start: 11px;  
  --padding-end: 11px;    
  --box-shadow:none;
}

.workout-card-template
{
  --background: var(--color-musclegroup-card);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;     
  --padding-bottom: 20px;  
  --padding-start: 20px;    
  --padding-end: 20px;     
}

.exercise-card
{
  --background:var(--color-exercise-card);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;     
  --padding-bottom: 20px;  
  --padding-start: 20px;    
  --padding-end: 20px;     
}

.musclegroup-card-template
{
  --background: var(--color-templates-musclegroup-card);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;     
  --padding-bottom: 20px; 
  --padding-start: 20px;  
  --padding-end: 20px;     
}

.workout-delete-template
{
  --background: var(--color-workout-delete);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;    
  --padding-bottom: 20px;   
  --padding-start: 20px;  
  --padding-end: 20px;     
}

.exercise-delete-template {
  --background: var(--color-workout-delete);
  --box-shadow:none;
  width: 3.5rem; 
  height: 100%;
}

.completed-workout-btn {
  --background: var(--color-workout-finish); 
  --color: white; 
}

.set-add-btn
{
  --background: #5A818F;
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 15px;     
  --padding-bottom: 15px; 
  --padding-start: 20px;  
  --padding-end: 20px;      
}


.set-complete-btn
{
  --background: var(--color-workout-finish);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 15px;     
  --padding-bottom: 15px;  
  --padding-start: 20px;   
  --padding-end: 20px;     
}

ion-select {
  --highlight-color-focused: #ffffff !important;
  --ion-color-primary: #ffffff !important;
  --border-color: transparent;
  --padding-start: 0;
  --padding-end: 0;
  color: #ffffff !important;
  
  &::part(icon) {
    color: #ffffff !important;
    opacity: 1 !important;
    
  }
}


ion-popover.custom-template-popover {
  --background: #313131;
  --color: white;
  --width: calc(100% - 2rem);
  --max-width: 400px;

  &::part(content) {
    background: #313131;
    color: white;
    border-radius: 0 0 12px 12px !important; 
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
  }

  ion-select-popover {
    ion-list {
      background: transparent !important;
    }

    ion-item {
      --background: transparent !important;
      --color: white !important;
      --ripple-color: rgba(255, 255, 255, 0.1);
      font-family: inherit;
      font-size: 0.875rem;
      text-transform: uppercase;
    }
  }
  
}


.custom-alert 
{
  --background: #2a2a2a; 
  --color: #ffffff;    
  

  .alert-wrapper {
    --background: #2a2a2a !important;
    border-radius: 16px !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }

  .alert-title {
    color: #ffffff !important;
    font-family: 'Lexend Giga';
    font-weight: 500;
  }

  .alert-message {
    color:rgb(194, 194, 194) !important;
    font-family: 'Lexend Giga', sans-serif;
  }

  .alert-button {
    color: #3b82f6 !important; 
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
}

ion-icon {
  color: white;
}

html,
body,
ion-app {
  background: #191919 !important;
  font-family: "Lexend Giga", sans-serif !important;
}

:root {
  --ion-font-family: "Lexend Giga", sans-serif;
}


