/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@use "tailwindcss";
@import url('https://googleapis.com');
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';



@theme 
{
    //--HOTBAR--
    --color-hotbar-background:#414141;
    --color-hotbar-button:#2F2F2F;
    --color-hotbar-selected:#333333;
    --color-hotbar-button-pressed:#464646;
    --color-statusbar-background:#191919;


    --font-lexend: "Lexend Giga", sans-serif;




    //--WORKOUTS PAGE--

    // main page
    --color-main-background: #252525;
    --color-workout-background: #363636;
    --color-musclegroup-card: #3F3F3F;
    --color-musclegroup-card-pressed: #636363;


    // button states
    --color-musclegroup-complete: #4C8145;
    --color-workout-finish: #4C8145;
    --color-workout-finish-pressed: #64985D;
    --color-workout-delete: #7d3b3b;
    --color-return-button: #313131;
    --color-return-button-pressed: #525252;

    // muscle group
    --color-musclegroup-background: #3A3A3A;
    --color-exercise-card: #535353;
    --color-exercise-card-pressed: #8F8F8F;

    // exercise
    --color-exercise-background: #535353;
    --color-set-card: #6C6C6C;
    --color-set-card-pressed: #979797;
    --color-set-complete-button: #5D7D59;
    --color-set-complete-button-pressed: #99B595;
    --color-set-input-background: #353535;

    --radius-general: 10px;



    //--WORKOUT TEMPLATES PAGE--
    --color-templates-background: #363636;
    --color-templates-card: #3F3F3F;
    --color-templates-card-pressed: #636363;
    --color-templates-musclegroup-card: #434343;



}


ion-content {
  pointer-events: auto;
}

ion-router-outlet {
  pointer-events: none !important;
}

ion-router-outlet > * {
  pointer-events: auto !important;
}


// HOTBAR CLASSES

ion-tab-bar.custom-tab-bar
{
  --background: var(--color-hotbar-background); 
  --border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  padding: 0.5rem 0.45rem;
}

ion-tab-button {
  --background: transparent;
  --background-focused: transparent;
  --background-focused-opacity: 0;
  --color-selected: white;
  font-size: 0.78rem;

  font-family: inherit;
  
  &::part(native) {
    background-color: var(--color-hotbar-button);
    border-radius: var(--radius-general);
    padding: 0.75rem;
    transition: var(--color-hotbar-button-pressed) 200ms ease;
  }

  &.tab-selected::part(native) {
    background-color: var(--color-hotbar-selected);
    color: white;
  }

  &::part(native):hover {
    background-color: var(--color-hotbar-selected);
  }
}

// SETTINGS PAGE STYLING

.settings-btn 
{
  --background: var(--color-set-card);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;      /* Vertical top */
  --padding-bottom: 20px;   /* Vertical bottom */
  --padding-start: 24px;    /* Horizontal left */
  --padding-end: 24px;      /* Horizontal right */
}

.return-btn 
{
  --background: var(--color-return-button);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 14px;      /* Vertical top */
  --padding-bottom: 14px;   /* Vertical bottom */
  --padding-start: 14px;    /* Horizontal left */
  --padding-end: 14px;      /* Horizontal right */
}

.input-add-btn 
{
  --background: var(--color-return-button);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 11px;      /* Vertical top */
  --padding-bottom: 11px;   /* Vertical bottom */
  --padding-start: 11px;    /* Horizontal left */
  --padding-end: 11px;      /* Horizontal right */
  --box-shadow:none;
}

.workout-card-template
{
  --background: var(--color-musclegroup-card);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;      /* Vertical top */
  --padding-bottom: 20px;   /* Vertical bottom */
  --padding-start: 20px;    /* Horizontal left */
  --padding-end: 20px;      /* Horizontal right */
}

.exercise-card
{
  --background:var(--color-exercise-card);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;      /* Vertical top */
  --padding-bottom: 20px;   /* Vertical bottom */
  --padding-start: 20px;    /* Horizontal left */
  --padding-end: 20px;      /* Horizontal right */
}

.musclegroup-card-template
{
  --background: var(--color-templates-musclegroup-card);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;      /* Vertical top */
  --padding-bottom: 20px;   /* Vertical bottom */
  --padding-start: 20px;    /* Horizontal left */
  --padding-end: 20px;      /* Horizontal right */
}

.workout-delete-template
{
  --background: var(--color-workout-delete);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 20px;      /* Vertical top */
  --padding-bottom: 20px;   /* Vertical bottom */
  --padding-start: 20px;    /* Horizontal left */
  --padding-end: 20px;      /* Horizontal right */
}

.exercise-delete-template {
  --background: var(--color-workout-delete);
  --box-shadow:none;
  width: 3.5rem; 
  height: 100%;
}

/* Suprascrie fundalul când este aplicată clasa de completat */
.completed-workout-btn {
  --background: var(--color-workout-finish); /* Culoarea verde definită de tine */
  --color: white; /* Pentru a asigura contrastul textului */
}

.set-add-btn
{
  --background: #5A818F;
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 15px;      /* Vertical top */
  --padding-bottom: 15px;   /* Vertical bottom */
  --padding-start: 20px;    /* Horizontal left */
  --padding-end: 20px;      /* Horizontal right */
}


.set-complete-btn
{
  --background: var(--color-workout-finish);
  --color: white;
  --border-radius: var(--radius-general);
  --padding-top: 15px;      /* Vertical top */
  --padding-bottom: 15px;   /* Vertical bottom */
  --padding-start: 20px;    /* Horizontal left */
  --padding-end: 20px;      /* Horizontal right */
}



ion-icon {
  color: white;
}
