<ion-content [fullscreen]="true">
   @if (isResting) 
   {
    <div slot="fixed" class="w-full z-50 bg-workout-finish px-5 py-3 flex justify-between items-center shadow-lg"
         style="padding-top: calc(var(--safe-area-inset-top, env(safe-area-inset-top, 0px)) + 10px);">
      <span class="text-white font-lexend uppercase tracking-wide text-sm">Resting</span>
      <div class="flex items-center gap-4">
        <span class="text-white font-lexend text-xl tracking-widest">{{ restTimeDisplay }}</span>
        <ion-button (click)="skipRest()" size="small" fill="clear" class="text-white font-lexend">
          SKIP
        </ion-button>
      </div>
    </div>
  }
  <div class="min-h-full bg-main-background p-5 pt-12 font-lexend text-white">

    <div class="bg-workout-background rounded-general p-4 pb-10 shadow-md">
      
      @if (!workoutService.currentActiveWorkout) {
        <div class="flex flex-col gap-4">
          <div class="text-[28px] text-white font-lexend px-1.5 pb-2">START A WORKOUT</div>
          <div class="bg-return-button rounded-general relative flex items-center shadow-sm/30">
            <ion-select 
              [(ngModel)]="selectedTemplateId" 
              (ionChange)="confirmStartWorkout($event)" 
              interface="popover"
              fill="none"
              [interfaceOptions]="{ cssClass: 'custom-template-popover' }"
              placeholder="SELECT TEMPLATE"
              class="w-full bg-return-button text-white uppercase text-sm tracking-wide outline-none px-5 py-2 font-lexend rounded-general">

              @for (wk of workoutService.workouts; track wk.id) {
                <ion-select-option [value]="wk.id">{{ wk.name }}</ion-select-option>
              }
            </ion-select>
          </div>
        </div>
       @if (recentWorkouts.length > 0) {
          <div class="flex flex-col gap-3 mt-9">
           <div class="flex justify-between items-center px-1 pb-1">
              <div class="text-[18px] text-white/80 font-lexend uppercase tracking-widest">
                Recent Workouts
              </div>
              <div class="rounded-general relative w-9 h-9 flex justify-center items-center active:opacity-70 transition-opacity">
              </div>
            </div>

            @for (history of recentWorkouts; track history.id) {
              <div class="bg-musclegroup-card rounded-general p-4 flex justify-between items-center shadow-sm/30">
                <div class="flex flex-col gap-1">
                  <div class="text-white font-lexend uppercase tracking-wide">
                    {{ history.name }}
                  </div>
                  <div class="text-white/50 text-xs font-lexend">
                    {{ history.date | date:'dd MMM yyyy, HH:mm' }}
                  </div>
                </div>
                <div class="text-white/80 text-sm font-lexend tracking-widest">
                  {{ history.durationDisplay }}
                </div>
              </div>
            }
          </div>
        }
      }

      @if (workoutService.currentActiveWorkout)
      {
        <div class="flex justify-between items-center px-1.5 pt-0.2 pb-7">
          <div class="flex items-center gap-2">
            <div class="text-[28px] text-white font-lexend uppercase">
              {{ workoutService.currentActiveWorkout.name }}
            </div>
            <ion-icon name="chevron-down-outline" class="opacity-50 text-xl"></ion-icon>
          </div>
          <!-- Timer-ul -->
          <div class="text-xl font-light tracking-widest text-white/80">
            {{ timerDisplay }}
          </div>
        </div>

        @if (viewState === 1)
        {
          <div class="flex flex-col gap-4">
            @for (mg of workoutService.currentActiveWorkout.muscleGroups; track mg.id) 
            {
              <ion-button (click)="goToGroup(mg)" class="musclegroup-card-template font-lexend w-full" [ngClass]="{'completed-workout-btn': mg.isCompleted}">
                <span class="text-base tracking-wide uppercase">
                  {{ mg.name }}
                </span>
              </ion-button>
            }

            <div class="bg-templates-musclegroup-card rounded-general p-2 py-3 flex gap-3 items-center shadow-sm/30">

              <div class="bg-return-button rounded-general flex-1 min-w-0 flex items-stretch">
                <ion-select 
                  [(ngModel)]="newGroupName" 
                  interface="popover"
                  fill="none"
                  [interfaceOptions]="{ cssClass: 'custom-template-popover' }"
                  placeholder="MUSCLE GROUP"
                  class="w-full bg-return-button text-white uppercase text-sm tracking-wide outline-none px-4 font-lexend rounded-general">

                  @for (group of availableGroupsForDropdown; track group) {
                    <ion-select-option [value]="group">{{ group }}</ion-select-option>
                  }
                </ion-select>
              </div>

              <ion-button (click)="addGroup()" class="font-lexend input-add-btn shrink-0"> 
                <ion-icon name="add"></ion-icon>
              </ion-button>

            </div>

            <ion-button (click)="endWorkout()" class="workout-delete-template font-lexend">
              END WORKOUT
            </ion-button>
          </div>
        }


        @if (viewState === 2 && activeMuscleGroup) 
        {
        <div class="flex flex-col gap-4 bg-templates-musclegroup-card rounded-general p-2 px-3 pb-6 font-lexend">
          <div class="flex justify-between items-center px-1 pb-4 pt-1">
            <div class="text-[22px] text-white font-lexend uppercase">{{ activeMuscleGroup.name }}</div>
            <ion-button (click)="goBack()" class="return-btn">
              <ion-icon name="return-up-back-outline" class="text-xl"></ion-icon>
            </ion-button>
          </div>

          @for (ex of activeMuscleGroup.exercises; track ex.id) {
            @if (activeExercise?.id === ex.id)
            {
              <div class="bg-exercise-card rounded-general p-4 flex flex-col gap-3 shadow-sm/30 relative">
                <div class="flex justify-between items-center pb-0.5">
                  <span class="flex-1 text-center text-[18px] text-white font-lexend uppercase tracking-widest">{{ ex.name }}</span>
                  <ion-icon name="chevron-up-outline" class="text-lg absolute right-4" (click)="collapseExercise()"></ion-icon>
                </div>

                @for (set of ex.sets; track $index) 
                {
                  <div class="bg-set-card rounded-general py-3 px-5 flex justify-between items-center text-sm font-lexend text-white/90">
                    <span>Reps: {{ set.reps }}</span>
                    <span>{{ set.weight }} kg</span>
                  </div>
                }

                <div class="flex flex-col bg-set-card rounded-general p-4 gap-3">
                  <div class="flex justify-between items-start text-sm font-lexend mt-2 text-white/90">
                    <div class="flex flex-col items-center gap-2">
                      <span class="uppercase tracking-wide text-xs text-white/70">Reps</span>
                      <div class="flex items-center gap-2">
                        <input inputmode="decimal" step="any" min="0" max="999" [(ngModel)]="newReps" (input)="restrictInput($event, 'newReps')" class="bg-set-input-background rounded-general w-14 h-10 outline-none text-center text-white" />
                        <div class="flex flex-col gap-1">
                          <button type="button" (click)="incrementReps()" class="stepper-btn">
                            <ion-icon name="chevron-up-outline"></ion-icon>
                          </button>
                          <button type="button" (click)="decrementReps()" class="stepper-btn">
                            <ion-icon name="chevron-down-outline"></ion-icon>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="flex flex-col items-center gap-2">
                      <span class="uppercase tracking-wide text-xs text-white/70">Weight</span>
                      <div class="flex items-center gap-2">
                        <div class="flex flex-col gap-1">
                          <button type="button" (click)="incrementWeight()" class="stepper-btn">
                            <ion-icon name="chevron-up-outline"></ion-icon>
                          </button>
                          <button type="button" (click)="decrementWeight()" class="stepper-btn">
                            <ion-icon name="chevron-down-outline"></ion-icon>
                          </button>
                        </div>
                        <input inputmode="decimal" step="0.1" min="0" max="999" [(ngModel)]="newWeight" (input)="restrictInput($event, 'newWeight')" class="bg-set-input-background rounded-general w-14 h-10 outline-none text-center text-white" />
                      </div>
                    </div>
                  </div>
                  <ion-button (click)="addSet()" class="set-add-btn font-lexend pt-4">ADD</ion-button>
                </div>

                <ion-button (click)="completeExercise()" class="set-complete-btn font-lexend pt-4">COMPLETE</ion-button>
              </div>
            } 
            @else 
            {
              <ion-button (click)="goToExercise(ex)" class="exercise-card font-lexend w-full" [ngClass]="{'completed-workout-btn': ex.isCompleted}">
                {{ ex.name }}
              </ion-button>
            }
          }

            <div class="bg-exercise-card rounded-general p-2 py-2.5 flex gap-3 items-center shadow-sm/30">
              <div class="bg-return-button rounded-general flex-1 min-w-0 flex items-stretch">
                <ion-select [(ngModel)]="newExerciseName" interface="popover" fill="none" [interfaceOptions]="{ cssClass: 'custom-template-popover' }" placeholder="EXERCISE" class="w-full bg-return-button text-white uppercase text-sm tracking-wide outline-none px-4 font-lexend rounded-general">
                  @for (exercise of availableExercisesForDropdown; track exercise) {
                    <ion-select-option [value]="exercise">{{ exercise }}</ion-select-option>
                      }
                    </ion-select>
                  </div>
                <ion-button (click)="addExercise()" class="font-lexend input-add-btn shrink-0"><ion-icon name="add"></ion-icon></ion-button>
              </div>
            </div>
            }
          }

    
    </div>
  </div>
</ion-content>